.Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem;
}

.DatumText {
    font-weight: bold;
    color: #555;
    margin-bottom: 0.5rem;
}

.TitelText {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
