.DatumText{
    font-family: sans-serif;
    font-stretch: normal;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;
}

.TitelText{
    font-family: Helvetica, Arial, sans-serif;
    font-stretch: normal;
    font-weight: bold;
    margin-top: 25px;
    margin-left: 20px;    
}